<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
  <div data-simplebar class="bg-soft-dark h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>

        <li>
          <a
            class="nav-link show-view waves-effect"
            id="home-tab"
            data-view="home"
          >
            <i class="ri-dashboard-line"></i>
            <span>Estadisticas</span>
          </a>
        </li>
        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="ri-book-2-line"></i>
            <span>Inventario</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a
                class="nav-link"
                id="tracking-tab"
                data-toggle="tab"
                href="#tracking"
                role="tab"
                aria-controls="tracking"
                aria-selected="false"
              >
                Bodegas
              </a>
            </li>
            <li>
              <a
                class="nav-link"
                id="tracking-tab"
                data-toggle="tab"
                href="#tracking"
                role="tab"
                aria-controls="tracking"
                aria-selected="false"
              >
                Almacenes
              </a>
            </li>
            <li>
              <a
                class="nav-link"
                id="tracking-tab"
                data-toggle="tab"
                href="#tracking"
                role="tab"
                aria-controls="tracking"
                aria-selected="false"
              >
                Movimientos
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a
            class="nav-link show-view waves-effect"
            id="home-tab"
            data-view="add-product"
          >
            <i class="ri-article-line"></i>
            <span class="badge rounded-pill bg-success float-end"></span>
            <span>Productos</span>
          </a>
        </li>
        <li>
          <a class="nav-link waves-effect">
            <i class="ri-store-2-line"></i>
            <span class="badge rounded-pill bg-success float-end"></span>
            <span>Tienda</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a
                class="nav-link show-view"
                id="tracking-tab"
                data-view="publish-product"
              >
                Publicaciones
              </a>
            </li>
            <li>
              <a
                class="nav-link"
                id="tracking-tab"
                data-toggle="tab"
                href="#tracking"
                role="tab"
                aria-controls="tracking"
                aria-selected="false"
              >
                Categorias
              </a>
            </li>
            <li>
              <a
                class="nav-link"
                id="tracking-tab"
                data-toggle="tab"
                href="#tracking"
                role="tab"
                aria-controls="tracking"
                aria-selected="false"
              >
                Cupones
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a class="waves-effect">
            <i class="ri-shopping-bag-line"></i>
            <span class="badge rounded-pill bg-success float-end"></span>
            <span>Pedidos</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a
                class="nav-link"
                id="clients-view-tab"
                data-toggle="tab"
                href="#vendors-view"
                role="tab"
                aria-controls="clients-view"
                aria-selected="false"
              >
                Entradas
              </a>
            </li>
            <li>
              <a
                class="nav-link show-view"
                id="assign-order-tab"
                data-view="assign-order"
              >
                Asignar pedido
              </a>
            </li>
            <li>
              <a
                class="nav-link"
                id="clients-view-tab"
                data-toggle="tab"
                href="#vendors-view"
                role="tab"
                aria-controls="clients-view"
                aria-selected="false"
              >
                Reclamos
              </a>
            </li>
            <li>
              <a
                class="nav-link"
                id="clients-view-tab"
                data-toggle="tab"
                href="#vendors-view"
                role="tab"
                aria-controls="clients-view"
                aria-selected="false"
              >
                Historial
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a class="waves-effect">
            <i class="ri-contacts-book-upload-line"></i>
            <span class="badge rounded-pill bg-success float-end"></span>
            <span>Proveedores</span>
          </a>
        </li>
        <li>
          <a class="waves-effect">
            <i class="ri-user-smile-line"></i>
            <span class="badge rounded-pill bg-success float-end"></span>
            <span>Clientes</span>
          </a>
        </li>
        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="ri-admin-line"></i>
            <span>Empleados</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- end main content-->
